.footer {
    background-color: #f2f2f2;
    color:rgba(0,0,0,.54);
    border-top:#e4e4e4 solid 1px;
    height: 40px;
    margin: 0px;
    font-size: 15px;
}

footer {
    position:fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

header {
    position:fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: right;
}

#icons {
 height: 25px;
 width: auto;
 opacity: 0.55;
}

#icons:hover {
    opacity: 1;
}

.header-element {
    margin: 8px;
}

.header-link {
    color: rgba(0,0,0,.87);
}

#sign-in {
    margin-right: 30px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 21vh;
    justify-content: space-between;
    height: 28vh;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#input {
    margin-bottom: 40px;
}

body {
    background-color: white;
    font-family: Arial, sans-serif;
    font-size: 13px;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#language:visited, #language:active {
    color: #609;
}

.footer-links a:active {
    color: red;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links {
    display: flex;
    justify-content: space-around;
}


.footer-left {
    padding-left: 25px;
    color: rgba(0,0,0,.54);
}

.footer-right {
    padding-right: 25px;
    color: rgba(0,0,0,.54);
}